#container{
    height: 10vh;
    background-color: #1b1b1b;
    text-align: center;
}

#background{
    position: absolute;
    display: block;
    width: 50%;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    cursor: pointer;

}

#result{
    position: relative;
    display: block;
    color: #fff;
    font-size: 50px;
    font-family: sans-serif;
}
